torch
transformers
Pillow
opencv-python
tqdm
numpy
pandas
scikit-learn
matplotlib
seaborn
shap
optuna
scipy
ipykernel
wandb
cudf-cu12>=24.08
rmm-cu12>=24.08
cupy-cuda12x>=13.0.0
deap
bitsandbytes
numpy
pandas
matplotlib
jupyterlab
pymoo